@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}

.App {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  padding: 0;
  background: linear-gradient(
    9deg,
    rgba(139, 127, 59, 1) 0%,
    rgba(183, 170, 117, 1) 50%,
    rgba(255, 240, 211, 1) 100%
  );
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  height: max-content;
  display: flex;
  border-radius: 20px;
  padding: 15px 0;
  transition: all 0.2s ease;
  position: relative;
  box-shadow: 13px 11px 25px -7px rgba(0, 0, 0, 0.75);
}

.buttons {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

button {
  padding: 0;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 20px;
  line-height: 22px;
  cursor: pointer;
  user-select: none;
  border: none;
  transition: all 0.2s ease;
  background: rgba(255, 250, 211, 1);
  color: rgb(105, 0, 0);

  box-shadow: 13px 11px 25px -7px rgba(0, 0, 0, 0.75);
}

button:not([disabled]):hover {
  background: rgba(46, 46, 46, 1);
  color: rgba(255, 240, 211, 1);
}

button[disabled] {
  cursor: default;
}
